// ----------------------------------------------
//		common
// ----------------------------------------------
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  color: $text-color;
}

.hidden {
  display: none;
}

// (:hover, :focus, :active).
// https://codepen.io/yurch-html/pen/qyaOZz
.link {
  text-decoration: none;
  color: #4d4959;
  transition: color 0.25s ease;

  &:link {
  }
  &:visited {
  }
  &:hover {
    color: $accent-color;
  }
  &:active {
    color: $accent-color;
  }
  &:focus {
    outline: none;
  }
}

::selection {
  color: #fff;
  background-color: #004fe4;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 768px) {
    padding: 0 10px;
  }
  @media only screen and (max-width: 480px) {
    max-width: none;
    padding: 0 5px;
  }
}

// scroll to top
.to-top {
  color: #fff;
  font-size: 20px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  background-color: rgba(26, 26, 26, 0.24);
  cursor: pointer;
  outline: none;
  user-select: none;
  z-index: 9999;
  transition: background-color 0.25s ease;

  @media only screen and (max-width: 1200px) {
    right: 25px;
  }
  @media only screen and (max-width: 768px) {
    right: 15px;
  }
  @media only screen and (max-width: 480px) {
    right: 10px;
  }

  &:hover {
    background-color: rgba(26, 26, 26, 0.1);
    color: #fff;
  }

  &:active {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
  }
}
