// ----------- Lato -----------
@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('LatoLight'),
    url('../fonts/Lato/LatoLight.woff2') format('woff2'),
    url('../fonts/Lato/LatoLight.woff') format('woff'),
    url('../fonts/Lato/LatoLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('LatoRegular'),
    url('../fonts/Lato/LatoRegular.woff2') format('woff2'),
    url('../fonts/Lato/LatoRegular.woff') format('woff'),
    url('../fonts/Lato/LatoRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Italic'), local('LatoItalic'),
    url('../fonts/Lato/LatoItalic.woff2') format('woff2'),
    url('../fonts/Lato/LatoItalic.woff') format('woff'),
    url('../fonts/Lato/LatoItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('LatoBold'),
    url('../fonts/Lato/LatoBold.woff2') format('woff2'),
    url('../fonts/Lato/LatoBold.woff') format('woff'),
    url('../fonts/Lato/LatoBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ----------- MyriadPro -----------
@font-face {
  font-family: 'MyriadPro';
  src: local('MyriadPro Regular'), local('MyriadProRegular'),
    url('../fonts/MyriadPro/MyriadProRegular.woff2') format('woff2'),
    url('../fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadProRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}