// ----------------------------------------------
//		footer
// ----------------------------------------------
.footer {
  padding: 100px 0;
  background-color: #f7f7f7;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media only screen and (max-width: 768px) {
      justify-content: space-evenly;
      align-items: center;
    }
    @media only screen and (max-width: 480px) {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 50px;
    }
  }

  &__address {
    font-size: 14px;
    line-height: 1.15;

    @media only screen and (max-width: 480px) {
      margin-bottom: 25px;
    }

    &_city {
      font-size: 16px;
      font-weight: 700;
    }
    &_street {
      font-size: 14px;
    }
    &_index {
      font-style: italic;
    }
  }
}

.social {
  padding-right: 80px;

  @media only screen and (max-width: 992px) {
    padding-right: 0;
  }
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (max-width: 480px) {
    flex-direction: row;
    margin-bottom: 15px;
  }

  &__link {
    display: inline-block;
    border-radius: 50%;
    max-width: 34px;
    overflow: hidden;
    margin: 0 7px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 5px;
    }
  }

  &__img {
    max-width: 100%;
  }
}
