// ----------------------------------------------
//		footer
// ----------------------------------------------
.footer {
  padding: 100px 0;
  background-color: #f7f7f7;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__address {
    font-size: 14px;
    line-height: 1.15;

    &_city {
      font-size: 16px;
      font-weight: 700;
    }
    &_street {
      font-size: 14px;
    }
    &_index {
      font-style: italic;
    }
  }
}

.social {
  padding-right: 80px;

  &__link {
    display: inline-block;
    border-radius: 50%;
    max-width: 34px;
    overflow: hidden;
    margin: 0 7px;
  }

  &__img {
    max-width: 100%;
  }
}
