// ----------------------------------------------
//		shop
// ----------------------------------------------
.shop {
  &__body {
    display: flex;

    @media only screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
  }

  &__row {
    display: flex;
    position: relative;
    height: 50%;
  }

  &__col {
    position: relative;

    &_1-2 {
      flex: 0 1 50%;
    }
    &_1-3 {
      flex: 0 1 33.333%;

      @media only screen and (max-width: 992px) {
        flex: 0 1 66.666%;
      }
      @media only screen and (max-width: 480px) {
        flex: 0 1 100%;
      }
    }
    &_1-6 {
      flex: 0 1 16.666%;

      @media only screen and (max-width: 992px) {
        flex: 0 1 33.333%;
      }
      @media only screen and (max-width: 480px) {
        flex: 0 1 50%;
      }
    }
  }

  &__responsive-wrap-l {
    padding: 0 0 50% 0;
  }

  &__responsive-wrap {
    padding: 0 0 200.26% 0;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
  }

  &__link {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: rgba(100, 194, 158, 0.8);

      .shop__icon {
        opacity: 1;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  &__footer {
    text-align: center;
    padding: 90px 0 95px 0;
    background-color: #282f35;

    @media only screen and (max-width: 1200px) {
      padding: 80px 0 85px 0;
    }
    @media only screen and (max-width: 992px) {
      padding: 70px 0 75px 0;
    }
    @media only screen and (max-width: 768px) {
      padding: 60px 0 65px 0;
    }
  }

  &__btn {
    padding: 16px 55px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    &:hover {
      box-shadow: 7px 7px 15px rgba(255, 255, 255, 0.15);
      color: #ffffff;
    }
    &:active {
      box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    }
  }
}
