// ----------------------------------------------
//		twitter
// ----------------------------------------------
.twitter {
  padding: 125px 0 60px 0;
  text-align: center;
  background-color: #f7f7f7;

  @media only screen and (max-width: 1200px) {
    padding: 100px 0 60px 0;
  }
  @media only screen and (max-width: 992px) {
    padding: 80px 0 50px 0;
  }
  @media only screen and (max-width: 768px) {
    padding: 60px 0 40px 0;
  }
  @media only screen and (max-width: 480px) {
    padding: 40px 0 30px 0;
  }

  &__slider {
    margin-bottom: 105px;
    

    @media only screen and (max-width: 1200px) {
      margin-bottom: 80px;
    }
    @media only screen and (max-width: 992px) {
      margin-bottom: 60px;
    }
    @media only screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 480px) {
      margin-bottom: 30px;
    }
  }
}

.slider-item {
  // for not jump loading
  &:not(:first-child) {
    display: none;
  }
  
  &__icon {
    max-width: 32px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 32px;
  }

  &__icon {
    max-width: 100%;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 2.1px;

    &_left {
      font-weight: 700;
      color: #353738;
    }

    &_right {
      font-weight: 300;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.41;
  }
}

.twitter-nav-container {
  user-select: none;

  &__dot {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 9px;
    border: 1px solid #c8c8c8;
    cursor: pointer;

    transition: background-color 0.25s ease, transform 0.25s ease;

    &:active {
      transform: scale(1.5, 1.5);
    }

    &_active {
      background-color: #c8c8c8;
    }

    &.tns-nav-active {
      background-color: #c8c8c8;
    }
  }
}
